.pokedex__cardPokemon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 240px;
    background-color: #132226;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: color 1s;
    position: relative;
    overflow: hidden;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: -225px;
        width: 0;
        height: 100%;
        background-color: #525b56;
        transform: skewX(135deg);
        // z-index: -1;
        transition: width 1s;
    }

    @media screen and (max-width: 500px){
        max-width: 300px;
    }

    &:hover {
        &::before{
            width: 254%;
        }
    }
    


    .generalInfoContainer {
        padding: 10px;
        background-color: #132226;
        border-radius: 10px;
        margin-top: -65px;
        padding-top: 60px;
        z-index: 2;
    }

    .statsInfoContainer,
    .basicsInfoContainer {
        width: 100%;
        margin-bottom: 10px;

        h5 {
            font-size: 13px;
            color: #b8ced3;
        }
    }

    .idArea,
    .basicsInfo {
        width: 100%;

        p {
            font-size: 12px;
            color: #b8ced3;
        }
    }

    .basicsInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .statsInfo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        p {
            font-size: 12px;
            width: 50%;
            color: #b8ced3;
        }
    }


    .cardPokemon__image {
        width: 100%;
        z-index: 3;
    }

    .cardPokemon__pokemonName {
        text-transform: capitalize;
        text-align: center;
        color: #ffffff;
    }

    .cardPokemon__typesArea {
        display: flex;
        gap: 10px;
        width: 100%;

        .typesArea__typeName {
            color: #fff;
            text-transform: capitalize;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            flex: 1;
        }
    }
}